importFrom("stats", "glm", "quantile", "residuals", "rnorm", "dnorm", "pnorm", "rpois", "runif", "sd", "rbinom", "rexp", "family")
importFrom("utils", "data")
useDynLib(wast)
exportPattern("^[[:alpha:]]+")
export(exams, pvalglm, estglm, estglmBoot, estglmMult, estglmBootMult,
        pval_probit, pval_quantile, pval_semiparam)