importFrom("stats", "glm", "quantile", "residuals", "rnorm", "dnorm", "pnorm", "rpois", "runif", "sd", "rbinom", "rexp")
importFrom("utils", "data")
useDynLib(wast)
exportPattern("^[[:alpha:]]+")
export(exams, pval, estglm, estglmBoot, estglmBootSep, estglmBootGamma)